html {
  font-family: 'Alegreya Sans', sans-serif;
}



/* The navigation bar */
.topnav {
  z-index: 10;
  overflow: hidden;
  background-color: #8bb614;
  position: fixed; /* Set the topnav to fixed position */
  top: 0; /* Position the topnav at the top of the page */
  width: 100%; /* Full width */
  margin-left: -8px
}
.topnav.index{
  height: 44px;
}
.topnav a > img{
  margin-left: 150px;
}

/* Hide the link that should open and close the topnav on small screens */
a.icon {
  display: none;
}

 .right-pad{
  float:right;
  margin-right: 150px;
}

.salir {
  cursor: pointer; 
}


/* Links inside the topnav */
.topnav a {
  float: left;
}

.topnav a:not(.logo) {
  font-size: 16px;
  font-weight: bold;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}


.topnav .icon {
  display: none;
}




.topnav > .center{
  float: center;
}

.topnav img {
  height: 40px;
/*   padding: 5px 16px; */
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.logo {
  height: 10px;
}
body {
  background-color: rgb(254, 255, 235);
  padding-top: 70px;
}
/* .toppad {padding-top: 50px;} */
button {
  background-color: #8bb614;; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
/*   body {
    padding-top: 00px;
  } */

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: fixed;}
  
  .topnav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

